/* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */

body {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  /* background: #eeeeee; */
  background: #000000;
  /* max-height: 100vh;
  max-width: 100vh; */
  font-weight: 500;
  overflow: hidden;
}

/* body,
html {
  position: fixed;
} */

#main {
}

.main {
  /* border: 1px solid #0003c7; */
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 99vh;
  max-height: 99vh;
  max-width: 99%;
  width: 99%;
  /* overflow: hidden; */
  font-size: 1.8vh;
  line-height: 2vh;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */

.navbar {
  display: grid;
  grid-auto-rows: repeat(10 1fr);
  font-family: Orbitron;
  letter-spacing: 3px;
  /* border: 1px solid #242424; */

  /* float: left;
  position: relative; */
  /* grid-area: nav; */
  max-width: 100%;
  /* display: grid;
  grid-template-rows: repeat(10 1fr, minmax(100px, 1fr)); */

  /* overflow: hidden; */
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */
}

.flat {
  position: relative;
  margin-top: 20px;
  left: 20px;
}

/* .logowrap {
  top: 20px;
  position: relative;
  border: 1px solid #f2f7f8;
  height: 70px;
  background-color: #f2f7f8;
  width: 160px;
} */

.clock {
  grid-row: 9;
  /* text-align: justify; */

  font-size: 2.8vh;
  white-space: pre-line;
  line-height: 4.5vh;
}

.navWeather {
  grid-row: 2;
  margin-left: 15px;
  white-space: pre-line;
  font-size: 2vh;
  line-height: 2.5vh;
  letter-spacing: 3px;
  padding: 1px;
}

/* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */

.line {
  position: relative;
  border-top: 3px solid #4e4e4e;
  left: 5%;
  bottom: 10%;
  width: 60%;
  z-index: 6;
  opacity: 0.8;
}
.cards {
  font-size: 1.8vh;
  line-height: 2vh;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid #ff0000; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 111vh;
  height: 92vh;
  max-width: 111vh;
  max-height: 92vh;
  grid-template-areas:
    " s s s s s s s s s s "
    " w w w w w t t t t ."
    " w w w w w t t t t ."
    " w w w w w t t t t ."
    " w w w w w t t t t ."
    " n n n . . . . c c c"
    " n n n v v v v c c c"
    " n n n v v v v c c c"
    " n n n v v v v c c c"
    " . . . . . . . . . .";
}

.card {
  text-align: center;
  /* width: 50%; */

  text-align: center;
  /* overflow: hidden; */

  border: 1px solid #494949;

  height: fit-content;
  width: fit-content;
  max-width: fit-content;
  padding: 5px;
  background: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-gap: 5px;
  /* border-radius: 10px; */
}

.quote {
  position: absolute;
  bottom: 30px;
  margin-left: 15.5%;
  font-family: "Playfair Display", serif;
  line-height: 30px;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  /* border: 1px solid #242424; */
  width: 83%;
}

.weather {
  font-size: 1.6vh;
  line-height: 1.5vh;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;

  grid-area: w;
  position: relative;
  width: 650px;
  left: 50px;
  /* border: 1px solid #242424; */
  padding: 5px;
  margin-top: -60px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.weather > h3 {
  background-color: #ffffff;
  padding: 1%;
  margin: 2%;
  border: 3px double #ffffff;
  width: 60%;
  text-align: center;
  color: #004fa1;
}

.tube {
  position: relative;
  grid-area: t;
  /* font-size: 15px; */
  top: -48px;
  left: 50px;
  height: 120%;
  width: 610px;
  /* border: 1px solid #242424; */
  padding: 4px;
  /* perspective: 1000px; */
  /* background-color: transparent; */

  /* -webkit-box-shadow: 5px 5px 14px 1px rgba(255, 255, 255, 0.75);
  box-shadow: 5px 5px 14px 1px rgba(255, 255, 255, 0.75); */

  animation: fadeIn ease 3s;
  /* -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s; */
}

.tflLogo {
  position: relative;
  left: 40%;
}

.tflback {
  background-color: #ffffff;
  width: 75%;
  height: 8%;
  margin-bottom: 2%;
}

.tflrows {
  font-size: 1.6vh;
  line-height: 1.2vh;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(15, 5%);
  white-space: nowrap;
  padding: 2px;
  line-height: 2vh;
}

.weatherTable {
  display: grid;
  grid-template-columns: repeat(15, 6%);
  line-height: 2.3vh;

  /* grid-template-rows: repeat auto(fit-content, 1fr); */

  /* white-space: nowrap; */

  /* padding: 3px; */
}

.t1 {
  grid-column: 1;
}
.t2 {
  grid-column: 2/ 6;
  /* margin-left: 0px; */
}

.t3 {
  grid-column: 9/14;
  margin-left: 7%;
}

.t4 {
  margin-left: 30%;
  grid-column: 15;
}

.tw1 {
  grid-column: 1;
}
.tw2 {
  grid-column: 2/ 4;
  margin-left: 5px;
  /* margin-left: 0px; */
}

.tw3 {
  grid-column: 4/10;
}

.tw4 {
  grid-column: 10/14;
  margin-left: 10%;
}

.material-icons.check {
  color: #00ff55;
  font-size: 16px;
}

.material-icons.error {
  color: #e5ff00;
  font-size: 16px;
}

.material-icons.warning {
  color: #ff0000;
  font-size: 16px;
}

.video {
  grid-area: v;
  position: relative;
  top: -85px;
  left: -50px;
  /* padding: 5px; */
  /* border: 1px solid #494949; */
  width: 100%;
  height: 90%;
  /* margin-top: 5%; */

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.videoFull {
  position: absolute;
  /* border: 1px solid #494949; */

  max-width: 83%;
  margin-top: 0.5%;
  margin-left: 0.8%;
  max-height: 85%;

  z-index: 6;

  -webkit-animation: fullscreen 0.2s ease forwards;
  animation: fullscreen 0.2s ease forwards;
}

#mute {
  position: relative;
  left: 10px;
  bottom: 50px;
  font-size: 40px;
  color: red;
  animation: fadeIn ease 0.5s infinite alternate;
}

.player {
  grid-area: v;
  max-width: 100%;
  max-height: 100%;
}

.google {
  grid-area: g;
  /* border: 1px solid #494949; */
  width: fit-content;
  height: fit-content;
  margin-top: 10%;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.calendar {
  grid-area: c;
  position: relative;
  top: 10px;
  left: -30px;
  width: fit-content;
  height: fit-content;
  /* overflow: hidden; */

  /* border: 1px solid #242424; */
  /* padding: 5px; */
  /* margin-left: 2%; */
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fullcalendarin {
  position: absolute;
  z-index: 6;
  left: 17%;
  top: 2%;
  width: 100%;
  animation: top-in ease 2s forwards;
}

.fullcalendarout {
  position: absolute;
  z-index: 6;
  left: 17%;
  top: 2%;
  width: 100%;
  animation: top-out ease 2s forwards;
}

.fullcalendarinb {
  position: absolute;
  z-index: 6;
  left: 17%;
  top: 67%;
  animation: bottom-in ease 2s forwards;
}

/* .fullcalendarinb > ul {
  color: #000000;
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 7;
  width: 100%;
  background-color: #ffffff;
} */

.fullcalendaroutb {
  position: absolute;
  z-index: 6;
  left: 17%;
  top: 70%;
  animation: bottom-out ease 2s forwards;
}

.todo {
  position: absolute;
  margin-left: 2%;
  margin-top: 50%;
  z-index: 5;

  animation: slide-in 2s forwards;
  z-index: 5;
}

.birthdays {
  position: absolute;
  z-index: 5;
  margin-left: 2%;
  margin-top: 50%;
}

.news {
  background-color: #2e2e2e;

  text-align: center;
  color: #ffffff;
  position: relative;
  left: 35px;
  top: 8px;
  grid-area: n;
  max-width: 70%;
  max-height: 65%;
  animation: fadeIn ease 3s;

  font-size: 1.56vh;
  line-height: 2.5vh;
  letter-spacing: 1.5px;
  /* overflow: hidden; */
}

.news > h3 {
  margin-left: 2%;
  margin-right: 2%;
}

.news > img {
  max-width: 100%;
  max-height: 80%;
}

.newsfullin {
  left: 30%;
  text-align: center;
  color: #000000;
  position: absolute;
  background-color: #ffffff;
  width: 37.5%;
  height: fit-content;
  top: 3%;
  max-height: 99%;
  z-index: 6;
  border: 5px solid #242424;
  animation: slide-in 2s ease forwards;

  font-size: 2vh;
  line-height: 2.9vh;
  letter-spacing: 1.9px;
  font-weight: 700;
}

.newsfullImage {
  position: relative;
  right: 3%;
}

.newsfullin > h2,
.newsfullin > p {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
}

.fadeLine {
  position: relative;
  border-top: 2px solid #1c6ea4;
  height: 12%;
  bottom: 0.5%;
  z-index: 6;
}

.newsfullout {
  left: 30%;
  text-align: center;
  color: #000000;
  position: absolute;
  background-color: #ffffff;
  width: 37.5%;
  height: fit-content;
  top: 3%;
  max-height: 99%;
  z-index: 6;
  border: 5px solid #242424;
  animation: slide-in 2s ease forwards;

  font-size: 2vh;
  line-height: 2.9vh;
  letter-spacing: 1.9px;
  font-weight: 700;
  animation: slide-out 2s forwards;
}

.command {
  grid-area: co;
  border: 1px solid #494949;
  width: fit-content;
  height: fit-content;
  font-size: 10px;

  animation: fadeIn ease 2;
  -webkit-animation: fadeIn ease 2;
  -moz-animation: fadeIn ease 2;
  -o-animation: fadeIn ease 2;
  -ms-animation: fadeIn ease 2;
}

.WeatherCards {
  margin: 10px;
  color: black;
  float: left;
  border: 1px solid #494949;
  width: 20%;
  height: 400px;
  background-color: #ffffff;
  z-index: 6;
  padding: 10px;

  font-size: 1.5vh;
  line-height: 2.5vh;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.weatherCardBottom {
  border-top: 3px solid rgb(107, 107, 107);
  width: 90%;
  padding: 10px;

  /* color: rgb(0, 0, 0);

  width: 99%;
  height: ;
  background-color: darkgrey;
  border: 1px solid #ebebeb; */
}

.weatherDetail {
  top: 3%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
  animation: slide-in 2s ease forwards;
  z-index: 6;
}

.weatherDetailOut {
  top: 3%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
  animation: slide-out 2s ease forwards;
  z-index: 6;
}

.stocks {
  grid-area: s;
  position: relative;
  margin-left: 0%;
  /* position: absolute; */
  top: 10%;
  height: fit-content;
  width: 105%;
  white-space: nowrap;
  z-index: 4;

  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.clear {
  -webkit-animation: fade 2s forwards;
  animation: fade 2s forwards;
  /* opacity: 0.3; */
}

.blank {
  -webkit-animation: blank 2s forwards;
  animation: blank 2s forwards;
}

.line {
  animation: fadeIn ease 2s;
  position: absolute;
  top: 450px;
  left: 400px;
  height: 1px;
  width: 600px;
  border: 0px;

  background-image: linear-gradient(
    to right,
    rgba(221, 221, 221, 0),
    rgba(255, 255, 255, 0.75),
    rgba(224, 224, 224, 0)
  );
}

.camera {
  position: fixed;
  /* border: 1px solid #ff4b4b; */
  max-width: 90%;
  margin-left: 10px;
  margin-top: 130px;
  max-height: fit-content;
  /* max-height: 200px; */
  /* height: 100px; */
  /* max-width: 1100px; */

  z-index: 6;

  -webkit-animation: fullscreen 0.2s ease forwards;
  animation: fullscreen 0.2s ease forwards;
}

.cameraoff {
  position: fixed;
  opacity: 0;
}

/* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes fullscreen {
  0% {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 0%;
    left: 15.1%;
    width: 84%;
    height: 89%;
  }
}

/* @keyframes bounce-in {
  0% {
    left: 100%;
  }
  100% {
    left: 15%;
  }
} */

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes blank {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blank {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes top-in {
  0% {
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(1%);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes top-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}

@keyframes bottom-in {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-1%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes bottom-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}
