/* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */ /* MAIN BODY */

body {
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  /* background: #eeeeee; */
  background: #000000;
  /* max-height: 100vh;
  max-width: 100vh; */
  font-weight: bold;
  overflow: hidden;
}

#main {
}

.main {
  border: 1px solid #c70000;
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vh;
  width: 100vh;
  /* overflow: hidden; */
  /* grid-template-areas:
    "nav cards"
    "nav cards"; */
}

/* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */ /* NAVIGATION BAR */

.navbar {
  display: grid;
  grid-auto-rows: repeat(10 1fr);
  font-family: Orbitron;
  border: 1px solid #242424;
  font-weight: bold;
  letter-spacing: 2px;
  /* float: left;
  position: relative; */
  /* grid-area: nav; */
  max-width: 100%;
  /* display: grid;
  grid-template-rows: repeat(10 1fr, minmax(100px, 1fr)); */

  /* overflow: hidden; */
  /* writing-mode: vertical-rl;
  text-orientation: sideways; */

  /* height: 100vh; */
}

.clock {
  grid-row: 10;
  text-align: center;

  font-size: 3vh;
  white-space: pre-line;
  line-height: 4.5vh;
}

.navWeather {
  grid-row: 2;
  margin-left: 20px;
  white-space: pre-line;
}

/* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */ /* ALL CARDS */

.cards {
  border: 1px solid #494949;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-items: stretch;

  /* grid-area: cards; */
  width: 99%;
  max-width: 99%;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px; */
  height: 90%;
  max-height: 100vh;
}

.card {
  text-align: center;

  /* width: 50%; */

  text-align: center;
  /* overflow: hidden; */

  border: 1px solid #494949;
  /* height: 40vh; */
  /* width: 100%; */
  /* float: left; */
  height: fit-content;
  width: fit-content;
  max-width: fit-content;

  /* -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69); */
  padding: 5px;
  background: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  grid-gap: 10px;
  /* border-radius: 10px; */
}

.quote {
  position: absolute;
  bottom: 15px;
  margin-left: 15.5%;
  font-family: "Playfair Display", serif;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  border: 1px solid #242424;
  width: 83%;
}

.weather {
  width: fit-content;
  border: 1px solid #242424;
  padding: 5px;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.tube {
  font-size: 15px;
  text-align: justify;
  width: fit-content;
  border: 1px solid #242424;
  padding: 5px;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.material-icons.check {
  color: #00ff55;
  font-size: 15px;
}

.material-icons.error {
  color: #e5ff00;
  font-size: 15px;
}

.material-icons.warning {
  color: #ff0000;
  font-size: 15px;
}

.video {
  border: 1px solid #494949;
  width: 50%;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.videoFull {
  position: fixed;
  border: 1px solid #494949;
  width: 84%;
  top: 0%;
  left: 15.1%;
  height: 89%;
  z-index: 5;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  -webkit-animation: fullscreen 0.5s forwards;
  animation: fullscreen 0.5s forwards;
}

.player {
  max-width: 100%;
  max-height: 100%;
}

.google {
  border: 1px solid #494949;
  width: fit-content;
  height: fit-content;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.calendar {
  width: fit-content;
  height: fit-content;

  border: 1px solid #242424;
  padding: 5px;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.news {
  border: 1px solid #494949;
  width: 336px;
  height: fit-content;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.command {
  border: 1px solid #494949;
  width: fit-content;
  height: fit-content;

  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.WeatherCards {
  margin: 10px;
  color: black;
  float: left;
  border: 1px solid #494949;
  width: 20%;
  height: 400px;
  background-color: #ffffff;

  padding: 10px;
}

.weatherCardBottom {
  border-top: 3px solid rgb(107, 107, 107);
  width: 90%;
  padding: 10px;

  /* color: rgb(0, 0, 0);

  width: 99%;
  height: ;
  background-color: darkgrey;
  border: 1px solid #ebebeb; */
}

.weatherDetail {
  top: 3%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
  -webkit-animation: slide-in 2s forwards;
  animation: slide-in 2s forwards;
}

.weatherDetailOut {
  top: 3%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
  -webkit-animation: slide-out 2s forwards;
  animation: slide-out 2s forwards;
}

.stocks {
  margin-left: 15.5%;
  position: absolute;
  bottom: 50px;
  height: 50px;
  width: 83%;
  white-space: nowrap;
  z-index: 3;
}

/* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */ /* animations  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: 15%;
  }
}

@keyframes slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: 15%;
  }
}

@-webkit-keyframes slide-out {
  0% {
    left: 15%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-out {
  0% {
    left: 15%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes fullscreen {
  0% {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 0%;
    left: 15.1%;
    width: 84%;
    height: 89%;
  }
}

@keyframes fullscreen {
  0% {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
  }
  100% {
    top: 0%;
    left: 15.1%;
    width: 84%;
    height: 89%;
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
